.user-home-banner {
  background-image: url('../../../public/assets/ComponentImages/userhomebanner.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
;
}

.banner-overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.banner-overlay p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.banner-overlay .btn {
  background-color: #ff6600;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}

.banner-overlay .btn:hover {
  background-color: #e65c00;
}