
body {
	body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2; /* or white, depending on design */
  color: black;
}


}


/* menu */






/* end of menu */

/* header */


#templatemo_header {
	
   overflow: hidden;
    width: 100%;
    height: 350px;
    padding: 20px 30px;
    margin: 0px auto;
    background: url(../images/header.webp) no-repeat;
    background-position: center;
		

}









/* end of header */

/* top row */



#templatemo_top_row {
	width: 930px;
	margin: 0 auto;
	padding: 0 25px;
}



#templatemo_top_row .last {
	background: none;
}

#templatemo_top_row p {
	color: #777270;
}

/* end of top row */

/* content*/







/* copyright */

#templatemo_copyright_wrapper {
	width: 100%;
	background: #c0a4a4;
	border-top: 1px solid #262626;
}

#templatemo_copyright {
	width: 960px;
	margin: 0 auto;
	padding: 15px 20px;
	text-align: center;
	color: #6e6965;
}

#templatemo_copyright a {
	color: #6e6965;
}
/* end of copyright */